* {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  margin: auto;
  max-width: 1380px;
  padding: 20px 60px;
}

img {
  width: 100%;
  height: 100%;
}

/* Topnavfirst */
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gainsboro;
}

.header-inner1 {
  font-size: small;
  color: rgb(78, 77, 77);
}

.header-inner1 span {
  padding: 0px 6px;
}

.header-inner1 span:nth-child(1) {
  padding-left: 0;
}

.header-inner2 {
  display: flex;
  font-size: 14px;
}

.header-inner2-data span {
  margin: 0 10px;
  color: rgb(78, 77, 77);
}

.header-inner2-data span b {
  color: #000;
}

.header-logo {
  border-left: 1px solid gray;
  padding-left: 10px;
}

.header-logo-image {
  height: auto;
  width: 110px;
}

/* top first ends here */

/* Header-inner2 */
.header-inner2 {
  justify-content: center;
  align-items: center;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-socialmedia {
  width: 120px;
}

.icons {
  margin-left: 10px;
  font-size: large;
  color: #000;

}

.navmenu {
  display: none;
}

.bitcoinlogo {
  max-width: 350px;
  overflow: hidden;
  cursor: pointer;
}

.bitcoinlogo-image {
  max-width: 350px;
}

.search-icon {
  cursor: pointer;
}

.search-input-wrapper {
  position: absolute;
  right: 40px;
  height: 40px;
  width: 300px;
  z-index: 10px;
  background-color: #fff;
  border: 1px solid gainsboro;
  background: whitesmoke;
  z-index: 10px;
}

.search-input-box {
  position: absolute;
  top: 0px;
  left: 10px;
  background: whitesmoke;
  outline: none;
  border: none;
  padding: 6px 4px;
}

.input-search-icon {
  position: absolute;
  right: 20px;
  top: 10px;
}

/* sidebar */
.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gainsboro;
  position: absolute;
  background: white;
  color: #000;
  top: 60px;
  left: 0;
  height: max-content;
  max-width: 360px;
  z-index: 10;
}

.sidebar-open {
  transform: translate(500px);
  transition: ease-in-out 0.4s;
}

.sidebar {
  width: 80%;
}

.sidebar-p {
  margin: 30px 0;
}

.accordian {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.accordian-inner {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.sidelist ul li {
  list-style: none;
  padding: 5px 0;
}

.sidebar-last-p {
  font-size: small;
  padding: 5px 0;
}

.sidebar-ul li {
  list-style: none;
  padding: 5px;
  margin: 10px 0;
}

/* Navbar ul */


.navbar-ul {
  display: flex;
  justify-content: space-around;
  height: 10px;
  align-items: center;
  list-style: none;
  background-color: black;
  color: white;
  padding: 20px;
}

.navbar-ul li {
  cursor: pointer;
}

.navbar-list {
  color: rgb(231, 98, 8);
}

.dropbtn {
  background-color: #000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */


/*Recent News */

.recent-news-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news {
  width: 405px;
  height: 380px;
  overflow: hidden;
  color: white;
  position: relative;
}


.recent-inner {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100px;
  position: absolute;
  bottom: 50px;
  padding: 0 30px;
}

.recent-inner p {
  font-size: small;
}

.recentnews-image-wrapper {
  height: 380px;
  width: 405px;
}

.recentnews-image {
  height: 100%;
  width: 100%;
  object-fit: fill;
}



.recent-span {
  color: blue;
}


/* Banner */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerImgholder {
  width: 100%;
}

/* banner ends here */

/* latest news   */
.latestnews-image {
  width: 100%;
  border-radius: 5px;
}

.latestnews-first-three-data {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.latest-news-topics {
  display: flex;
  align-items: center;
  justify-content: center
}

.latest-news-topics p {
  width: 10%;
}

.latest-news-topics-hr {
  width: 100%;
  margin-top: -4px;
}

.latestnews-wrapper {
  flex: 40%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  gap: 10px;
  overflow: hidden;
}

.latestnews-wrapper-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
}

.latestnews-wrapper-inner a {
  color: rgb(39, 38, 38);
  text-decoration: none;
}

.latest-news-div {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.latest-news-span1 {
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(68, 67, 67);
  font-size: small;
}

.latest-news-span {
  color: rgb(68, 67, 67);
  font-size: small;
  margin-top: 10px;
}

.latest-news-span2 {
  color: blue;
}

.latestnews-image {
  height: 300px;
  object-fit: fill;
}

.latestnews-font {
  font-size: large;
}

.latest-news-first-row {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.latestnews-load-more {
  width: 100%;
  border: 1px solid rgb(38, 174, 228);
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
}

.latestnews-load-more:hover {
  background: rgb(38, 174, 228);
  color: #fff;
}

/* Latest-news-outer */
.latest-news-outer {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.latest-news-first-row {
  display: flex;
  flex: 64%;
  justify-content: center;
  gap: 30px;
}

.premium {
  flex: 30%;
}

.latestnews-wrapper {
  display: flex;
  flex: 48%;
}

.recentnews-image-wrapper {
  width: 100%;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #FF0000;
}

/* Premium */
.premium-image-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.premium-image {
  height: 40px;
  width: 140px;
  margin: 20px 20px 10px 0;
}

/* Latest-news-outer ends here*/
/* Topbroker */

.topbroker-wrapper {
  display: flex;
  font-size: small;
}

.topbroker-image-outer {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.topbroker-image {
  height: 50px;
  width: 60px;
  border-radius: 5px;
  margin: 20px 3px 20px 0;
}

.topbroker-inner {
  margin-right: 15px;
}

/* Top casino */

.topcasino-wrapper {
  display: flex;
  font-size: small;
}

/* press release */

.pressrelease-outer {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.pressrelease-wrapper {
  display: flex;
  padding: 10px 0;
}

.pressrelease-image-wrapper {
  overflow: hidden;
  border-radius: 5px;
  height: 60px;
  width: 60px;
}

.pressrelease-image {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.pressrelease-inner {
  display: flex;
  flex-direction: column;
  font-size: small;
  margin-left: 10px;
}

.pressrelease-span {
  color: rgb(163, 162, 162)
}


/* Footer */
.footer-wrapper {
  background: #181D23;
  color: gainsboro;
}

.footer-wrapper-inner {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
}

.footer-image {
  width: 250px;
  margin-bottom: 20px;
}

.footer-list:nth-child(1) {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.footer-inner1 {
  margin-top: 20px;
  display: flex;
}

.footer-list {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  width: 150px;
}

.footer-ul li {
  list-style: none;
  padding-left: 0px;
  margin-left: -32px;
  font-size: 14px;
  margin-top: 8px;

}

.footer-ul li:hover {
  cursor: pointer;
}

.footerspan {
  font-size: 14px;
  margin-top: 10px;
  color: rgb(88, 87, 87);
}

.footer-ul {
  margin-top: 20px;
  color: rgb(88, 87, 87);
  margin-left: 33px;
}

.footer-last {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
}

.footer-span {
  color: blue;
}

.footer-bottom {
  border: 1px solid blue;
  padding: 5px 20px;
  font-size: small;
  margin-left: 10px;
  border-radius: 5px;
  margin-top: -12px;
}

.footer-bottom:hover {
  background: blue;
  color: white;
}

.footer-p {
  font-size: small;
  text-align: center;
}

.footer-icon {
  margin: 5px;
}
/* footer ends here */

/* Single page */
.singlepage-wrapper {
  display: flex;
  gap:30px;
}
.sinlgepage {
  flex: 65%;
  line-height: 25px;
}
.singlepage-sideimage{
  display: flex;
  flex:30%;
  flex-direction: column;
  gap:30px;
}
.sideimage-holder{
 width:100%;
 height:250px;
}
/* Main-card */
.main-card-wrapper {
  position: relative;
}

.main-card-inner {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 60%;
  left: 20%;
  color: white;
  align-items: center;
  bottom: 60px;
  margin-top: 20px;
}

.main-card-inner p {
  color: rgb(190, 188, 188);
}

.main-card-inner span {
  color: blue;
}
.main-card-image-wrapper {
  width: 100%;
}
.main-card-image {
  width: 100%;
  object-fit: cover;
}
.main-card-image-wrapper {
  flex: 100%;
  display: flex;
  align-items: center;
  justify-content: center
}
.maincardimage {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 8px;
}
/* Content */
.content-wrapper p {
  margin: 20px 0;
  color: rgb(107, 107, 107);
}

.content-span {
  color: blue;
  cursor: pointer;
}

.content-span:hover {
  color: black;
}

/* Social Media */
.socialmedia {
  border: 1px solid blue;
  width: 40px;
  padding: 10px;
  border-radius: 5px;
  background: blue;
  color: white;
  font-size: 20px;
  margin: 5px;
}

/* Newsletter */
.newsletter-wrapper {
  display: flex;
   gap:40px;
  align-items: center;
}
.newsletter-left{
  flex:40%;
}
.newsletter-right{
  flex:40%;
}
.newsletter-left h4{
  font-size:20px;
}
.newsletter-left p{
color:#C4B4AC;
}
.newsletter-right form{
  flex:100%;
  display:flex;
  flex-wrap:wrap;
  gap:10px;
}
input {
  outline: none;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 18px;
  color:#C4B4AC;
}
.textinput{
  padding:20px;
  flex:55%;
}

.btn {
  padding:20px;
  border: 1px solid blue;
  outline: none;
  border-radius: 5px;
  margin-left: 5px;
  flex:20%;
}
.btn:hover {
  background: blue;
  color: white;
}
.checkboxinput{
  flex:1%;
}
.newsletter-right p{
  flex:94%;
  font-size:14px;
  color:#C4B4AC;
}
/* Author */

.author {
  display: flex;
}

.author-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Recentpost */
.related-post-text {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.related-post-text b {
  width: 20%;
}

.recentpost-wrapper {
  display: flex;
  gap:20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.recentpost {
  display: flex;
  flex:40%;
  gap:20px;
}

.recentpost-image-wrapper {
  flex:30%;
  height: 100px;
  overflow: hidden;
  border-radius: 5px;
}
.recentpost-content{
  flex:70%;
}
.recentpost-image {
  border-radius: 5px;
  object-fit: fill;
}

.recentpost-inner p {
  color: gray;
  font-size: small;
}

.singlepage-hr {
  margin: 20px 0;
  width: 100%;
}

/* Search page */
.search-page-input-field {
  padding: 15px;
  width: 87%;
  margin-left: 5px;
  background: whitesmoke;
}

.search-page-input-wrapper {
  border: 1px solid gainsboro;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}
.search-icon-wrapper {
  border: 1px solid blue;
  height: 44px;
  width: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon-wrapper:hover {
  background: blue;
  color: white;
}

.search-page-wrapper {
  padding: 40px;
}

.search-page-latest-news-sticker {
  display: flex;
  justify-content: center;
}

.search-page-latest-news {
  display: flex;
  flex-wrap: wrap;
}

.search-page-sticker {
  display: flex;
  flex-direction: column;

}

.search-page-sticker-image {
  margin: 10px 0;
}

/* News page */
.nav-title {
  margin: 0 0 20px 50px;
}

.news {
  width: 500px;
}
/* Single page ends here */