*{
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Topnavfirst */


.header-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 38px;
  border-bottom: 1px solid gainsboro;
}

.header-inner1{
  font-size: small;
  color: rgb(78, 77, 77);
}

.header-inner1 span{
  padding: 0px 6px;
}

.header-inner2{
  display: flex;
  font-size: 14px;
}

.header-inner2-data span{
  margin: 0 10px;
  color: rgb(78, 77, 77);
}

.header-inner2-data span b{
  color: #000;
}

.header-logo{
  padding: 0px 15px;
  border-left: 1px solid gray;
  margin-left: 10px;
}

.header-logo-image{
  height: auto;
  width: 110px;
}

/* Header-inner2 */

.header-inner2{
  justify-content: center;
  align-items: center;
}

.sub-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 55px 10px 35px;
}

.header-socialmedia{
  width: 120px;
}

.icons{
  margin-left: 10px;
  font-size: large;
  color: #000;

}


.navmenu{
  display: none;
}

.bitcoinlogo{
  max-width: 350px;
  overflow: hidden;
  cursor: pointer;
}

.bitcoinlogo-image{
  max-width: 350px;
}

.search-icon{
  cursor: pointer;
}

.search-input-wrapper{
  position: absolute;
  right: 40px;
  height: 40px;
  width: 300px;
  z-index: 10px;
  background-color: #fff;
  border: 1px solid gainsboro;
  background: whitesmoke;
  z-index: 10px;

}

.search-input-box{
  position: absolute;
  top: 0px;
  left: 10px;
  background: whitesmoke;
  outline: none;
  border: none;
  padding: 6px 4px;
}

.input-search-icon{
  position: absolute;
  right: 20px;
  top: 10px;
}

/* sidebar */

.sidebar-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gainsboro;
  position: absolute;
  background: white;
  color: #000;
  top: 60px;
  left: 0;
  height: max-content;
  max-width: 360px;
  z-index: 10;
}

.sidebar-open{
  transform: translate(500px);
   transition: ease-in-out 0.4s;
}

.sidebar{
  width: 80%;
}
.sidebar-p {
  margin: 30px 0;
}

.accordian{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.accordian-inner{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.sidelist ul li{
  list-style: none;
  padding: 5px 0;
}

.sidebar-last-p{
  font-size: small;
  padding:5px 0;
}

.sidebar-ul li{
  list-style: none;
  padding: 5px;
  margin: 10px 0;
}

/* Navbar ul */


.navbar-ul{
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  list-style: none;
  background-color: black;
  color: white;
  padding: 30px;
  margin: 20px 40px;
  width: 100vw;
}

.navbar-ul li{
  cursor: pointer;
}

.navbar-list{
  color: rgb(231, 98, 8);
}

.dropbtn {
  background-color: #000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */


/*Recent News */

.recent-news-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
}

.news{
  width: 405px;
  height: 380px;
  overflow: hidden;
  color: white;
  position: relative;
}


.recent-inner{
  text-align: center;
  display: flex;
  flex-direction: column;
  height:100px;
  position: absolute;
  bottom: 50px;
  padding: 0 30px;
}

.recent-inner p{
  font-size: small;
}

.recentnews-image-wrapper{
  height: 380px;
  width: 405px;
}

.recentnews-image{
  height: 100%;
  width: 100%;
  object-fit: fill;
}



.recent-span{
  color: blue;
}


/* Banner */
.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 30px;
  height: 80px;
  position: relative;
}

/* latest news   */

.latestnews-image{
  width: 100%;
  border-radius: 5px;
}

.latestnews-first-three-data{
  display: flex;
  justify-content: center;
}

.latest-news-topics{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 50px 0 50px;
}

.latest-news-topics p{
  width: 10%;
}

.latest-news-topics-hr{
  width: 100%;
  margin-top: -4px;
}

.latestnews-wrapper{
  max-width: 380px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 0px 15px 40px 15px;
  overflow: hidden;
}

.latestnews-wrapper-inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;

}

.latestnews-wrapper-inner a{
  color: rgb(39, 38, 38);
  text-decoration: none;
}


.latest-news-div{
  display: flex;
  justify-content: center;
  margin: 20px;
}

.latest-news-span1{
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(68, 67, 67);
  font-size: small;
  
}

.latest-news-span{
  color: rgb(68, 67, 67);
  font-size: small;
  margin-top: 10px;
}

.latest-news-span2{
  color: blue;
}

.latestnews-image{
  height:300px;
  object-fit: fill;
}

.latestnews-font{
  font-size: large;
}

.latest-news-first-row{
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  width: 65%;
  margin-right: 10px;
}


.latestnews-load-more{
  width: 100%;
  border: 1px solid rgb(38, 174, 228);
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
}

.latestnews-load-more:hover{
  background: rgb(38, 174, 228);
  color: #fff;
}

/* Latest-news-outer */

.latest-news-outer{
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar {
    width: 0;  
    background: transparent;  
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}


/* Premium */

.premium{
  width: 380px;
  margin-top: -16px;
}

.premium-image-wrapper{
  display: flex;
  flex-wrap: wrap;
}

.premium-image{
  height: 40px;
  width: 140px;
  margin: 20px 20px 10px 0;
}


/* Topbroker */

.topbroker-wrapper{
  display: flex;
  font-size: small;
}

.topbroker-image-outer{
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.topbroker-image{
  height: 50px;
  width: 60px;
  border-radius: 5px;
  margin: 20px 3px 20px 0;
}

.topbroker-inner{
  margin-right: 15px;
}

/* Top casino */

.topcasino-wrapper{
  display: flex;
  font-size: small;
}

/* press release */

.pressrelease-outer{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.pressrelease-wrapper{
  display: flex;
  padding: 10px 0;
}

.pressrelease-image-wrapper{
  overflow: hidden;
  border-radius: 5px;
  height: 60px;
  width: 60px;
}

.pressrelease-image{
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.pressrelease-inner{
  display: flex;
  flex-direction: column;
  font-size: small;
  margin-left: 10px;
}

.pressrelease-span{
  color: rgb(163, 162, 162)
}


/* Footer */

.footer-wrapper{
  background: #181D23;
  color: gainsboro;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  padding-top: 80px;
}

.footer-image{
  width: 250px;
  margin-bottom: 20px;
}

.footer-wrapper-inner{
  width: 400px;
  display: flex;
  flex-direction: column;
}

.footer-inner1{
  margin-top: 20px;
  display: flex;
}

.footer-list{
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  width: 150px;
}

.footer-ul li{
  list-style: none;
  padding-left: 0px;
  margin-left: -32px;
  font-size: 14px;
  margin-top: 8px;

}

.footer-ul li:hover{
  cursor: pointer;
}

.footerspan{
  font-size: 14px;
  margin-top: 10px;
  color: rgb(88, 87, 87);
}

.footer-ul{
  margin-top: 20px;
  color: rgb(88, 87, 87);
}

.footer-last{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.footer-span{
  color: blue;
}

.footer-bottom{
  border:1px solid blue;
  padding: 5px 20px;
  font-size: small;
  margin-left: 10px;
  border-radius: 5px;
  margin-top: -12px;
}

.footer-bottom:hover{
  background: blue;
  color: white;
}

.footer-p{
  font-size: small;
  text-align: center;
}

.footer-icon{
  margin: 5px;
}



/* Single page */

.sinlgepage{
  width: 65%;
  line-height: 25px;
}

.singlepage-wrapper{
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
}


/* Main-card */
.main-card-wrapper{
  padding: 30px 45px;
  position: relative;
}

.main-card-inner{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 60%;
  left: 20%;
  color: white;
  align-items: center;
  bottom: 60px;
  margin-top: 20px;
}

.main-card-inner p{
  color: rgb(190, 188, 188);
}

.main-card-inner span{
  color: blue;
}

.main-card-image-wrapper{
  width: 100%;
}


.main-card-image{
  width: 100%;
  object-fit: cover;
}

.main-card-image-wrapper{
  display: flex;
  align-items: center;
}


.maincardimage{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 8px;
}

/* Content */

.content-wrapper p{
  margin: 20px 0;
  color: rgb(107, 107, 107);
}

.content-span{
  color: blue;
  cursor: pointer;
}
.content-span:hover{
  color: black;
}

/* Social Media */

.socialmedia{
  border: 1px solid blue;
  width: 40px;
  padding: 10px;
  border-radius: 5px;
  background: blue;
  color: white;
  font-size: 20px;
  margin: 5px;
}

/* Newsletter */

.newsletter-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 .input{
  outline: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}

.btn{
  padding: 10px 20px;
  border: 1px solid blue;
  outline: none;
  border-radius: 5px;
  margin-left: 5px;
}

.btn:hover{
  background: blue;
  color: white;
}

.newsletter-inner2{
  display: flex;
  align-items: center;
}

.newsletter-inner2 p {
  font-size: small;
  margin-left: 5px;
}


/* Author */

.author{
  display: flex;
}

.author-image{
  height: 100px;
  width: 100px;
  border-radius:50% ;
  margin-right: 10px;
}

/* Recentpost */

.related-post-text{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.related-post-text b{
  width: 20%;
}

.recentpost-wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}


.recentpost{
  display: flex;
  width: 360px;
  /* height: 100px; */
  margin: 20px 0;
}
.recentpost-image-wrapper{
  width: 200px;
  height: 100px;
  overflow: hidden;
  border-radius: 5px;
}

.recentpost-image{
  height: 200px;
  width: 100px;
  border-radius: 5px;
  margin-right: 10px;
  object-fit: fill;
}

.recentpost-inner p{
   margin-top: 5px;
   color: gray;
   font-size: small;
}


.singlepage-hr{
  margin: 20px 0;
  width: 100%;
}


/* Search page */

.search-page-input-field{
  padding: 15px;
  width: 87%;
  margin-left: 5px;
  background: whitesmoke;
}

.search-page-input-wrapper{
  border: 1px solid gainsboro;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;

}

.search-page-input{
  width: 80%;
  padding: 10px;
  outline: none;
  background: none;
  border: none;

}

.search-icon-wrapper{
  border: 1px solid blue;
  height: 44px;
  width: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon-wrapper:hover{
  background: blue;
  color: white;
}


.search-page-wrapper{
  padding: 40px;
}

.search-page-latest-news-sticker{
  display: flex;
  justify-content: center;
}

.search-page-latest-news{
  display: flex;
  flex-wrap: wrap;
}

.search-page-sticker{
  display: flex;
  flex-direction: column;

}

.search-page-sticker-image{
  margin: 10px 0;
}

/* News page */

.nav-title{
  margin: 0 0 20px 50px;
}


/* Mediaquery */

@media (max-width:1600px) {

/* .news{
  width: 500px;
}

.recentnews-image-wrapper{
  width: 100%;
}

.latestnews-wrapper{
  max-width: 480px;
}

.latest-news-first-row{
  margin-right: 30px;
} */

}

@media (max-width:1170px) {

  .latest-news-outer{
    flex-direction: column;
  }

  .latestnews-first-three-data{
    flex-wrap: wrap;
    justify-content: center;
  }

  .latest-news-first-row{
    width: 100%;
    justify-content: center;
  }

  .latestnews-wrapper{
     max-width: 300px;
  }  

  .banner{
    display: none;
  }
}

@media (max-width:1130px) {
  .latest-news-topics p{
  width: 20%;
}
  
}

@media (max-width:1053px) {
  .header-wrapper,.banner,.icons,.header-socialmedia,.navbar,.navbar-ul{
    display: none;
  }

  .latest-news-outer{
    flex-direction: column;
  }

  .footer-wrapper{
    flex-wrap: wrap;
  }
  .navmenu{
    display: block;
  }

  .main-card-inner{
    top: 10px;
    left: 0;
    position: static;
    color: #000;
    width: 100%;
    border: none;
  }
    .newsletter-wrapper{
    flex-direction: column;
  }

  .newsletter-inner .btn{
    margin-top: 10px;
  }

  .premium{
    padding-left: 15px;
    width: 100%;
  }

  .author{
    flex-direction: column;
    align-items: center;
  }

  .content-wrapper{
    width: 100%;
  }

  .sinlgepage{
    width: 100%;
  }

  .main-card-wrapper{
    padding: 15px;
  }

  .content-wrapper p{
    margin: 30px;
  }

  .singlepage-wrapper{
    padding: 15px;
  }


  .banner{
    display: none;
  }

  .latest-news-first-row{
    width: 100%;
  }  

  
}

@media (max-width:820px) {
  .recent-news-wrapper{
    flex-wrap: wrap;
    justify-content: start;
    padding-left: 20px;
    padding-right: 20px;
  } 

  .singlepage-wrapper{
    flex-direction: column;
  }

  .news{
    width: 100%;
    margin-top: 20px;
  }

  .recentnews-image-wrapper{
    width: 100%;
  }

  .recentnews-image{
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .recent-inner{
    width: 100%;
  }

  .search-page-latest-news-sticker{
    flex-direction: column;
  }

  .search-page-wrapper{
    padding: 10px;
  }

  .search-page-input-field{
    width: 100%;
    margin-left: 0;
  }

  .latestnews-first-three-data{
     justify-content: center;
  }

  .search-page-sticker{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .search-page-sticker-image{
    width: 50%;
  }
}

@media (max-width:820px) {

   .latestnews-first-three-data{
    flex-wrap: wrap;
    justify-content: center;
  }

    .latest-news-first-row{
    width: 100%;
    justify-content: center;
  }

  .latestnews-wrapper{
    width: 100%;
  }


}

@media (min-width:820px) and (max-width:938) {
  .recent-inner{
    bottom: 80px;
  }
}

@media (max-width:500px) {
  .bitcoinlogo{
    max-width: 150px;
    overflow: hidden;
}

  .bitcoinlogo-image{
    max-width: 150px;
}

  .related-post-text b{
    width: 50%;
}  
}

@media (max-width:660px) {
  .latestnews-wrapper{
    max-width: 250px;
  }    

  .latest-news-topics p{
  width: 30%;
}
}

@media (max-width:562px) {
  .latestnews-wrapper{
    max-width: 100%;
  }
  .latest-news-first-row{
    max-width: 100%;
  }
}

