/* .navbar-ul{
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  list-style: none;
  background-color: black;
  color: white;
  padding: 30px;
  margin: 20px 40px;
  width: 100px;
  border: 1px solid green;
}

.navbar-list{
  color: rgb(231, 98, 8);
}

.dropbtn {
  background-color: #000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;} */